# Latex files
*.*.*(busy) 
*.*(busy) 
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mp
*.mtc*
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.*
*.snm
*.synctex.*
*.tdo
*.tmp
*.toc
*.top
*.tui
*.upa
*.upb
*.vrb
*.xdy
 
# Mac IDE files
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/
 
# Mac finder files and hidden folders
.DS_Store


